body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
}

$closed-color:#6dab82;
$open-color: #eae8cc;

$team-a: #b84026;
$team-a-background: #ca8069;
$team-b: #23447e;
$team-b-background: #83a0d0;




.grid-container {
    margin: auto;
    display: grid;
    padding: 10px;
    max-width: 1000px;
}

.grid-item {}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .nav-item {

        height: 60px;
        line-height: 60px;
        color: white;
        padding: 0px 40px;
        background-color: #333;
        border-left: solid 1px white;
        border-right: solid 1px white;

        // flex: 0 1 auto;
        &:hover {
            cursor: pointer;
        }


    }
}


.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;

}

.flex-item {
    padding: 0px 15px;
}

.team-label {
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 30px;
}

.score {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    // font-weight: bold;
}

.team-turn {
    background: #333;
    color: white;

}

.body-div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.team-a {
    background-color: $team-a-background;
    animation: backgroundA 1s 1;

    @keyframes backgroundA {
        0% {
            background-color: $team-b-background;
        }

        100% {
            background-color: $team-a-background;
        }
    }


}

.team-b {
    background-color: $team-b-background;

    // animation: backgroundB 1s 1;

    @keyframes backgroundB {
        0% {
            background-color: $team-a-background;
        }

        100% {
            background-color: $team-b-background;
        }
    }
}

.card {
    text-align: center;
    height: 150px;
    line-height: 150px;
    margin: 15px;
    font-size: 30px;

}

.card-closed,
.card-open {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        cursor: pointer;
    }


}

.card-closed {
    background-color: $closed-color;

}

.card-open {
    animation: reveal 1s 1;

    @keyframes reveal {
        0% {
            background-color: $closed-color;
        }

        100% {
            background-color: $open-color;
        }
    }

    background-color: $open-color;

    font-size: 50px;


}